<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IG Notifier</title>
    <style>

    </style>
</head>

<body>
    <section>
        <div class="container">
            <form action="" method="POST">
                <input name="profile" type="text" placeholder="URL or Username of Profile">
                <input name="notifyNumber" type="number" placeholder="Number of posts to reach until Notify">
            </form>
        </div>
        <img src="<%= imageHrefEjs %>">
        <p><%= postNumberEjs %></p>
    </section>
</body>

</html>