<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IG Notifier</title>
    <style>
        *{
            text-align: center;
            font-family: poppins;
        }
        body{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        input{
            border:2px solid grey;
            box-sizing: border-box;
            border-radius:4px;
            padding: 5px 10px;
        }
        input[type=submit]{
            cursor:pointer;
        }
        img{
            padding: 20px;
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <form action="" method="POST">
                <input name="profile" type="text" placeholder="URL or Username">
                <input name="notifyNumber" type="number" placeholder="Number of posts to reach until Notify">
                <input type="submit" placeholder="Submit">
            </form>
        </div>
        <h2> <%= ProfileName %> </h2>
        <!-- <img class="userdp" src="<%= imageHrefFile %>" width="80px" alt="IG DP"> -->
        <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-user-management-kiranshastry-lineal-color-kiranshastry-3.png"/>
        <p><b>Posts Count:</b> <%= postNumberEjs %></p>
    </section>
</body>

</html>